name: tremor_app
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.5+1
  pedometer: ^4.1.1
  shared_preferences: ^2.5.4


dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.13.1

  # TensorFlow Interpreter
  tflite_flutter: ^0.12.1

flutter:
  uses-material-design: true
  assets:
    - assets/icons/app_icon.png
    - assets/mobile_ai_package/model/
    - assets/mobile_ai_package/data/
    - assets/mobile_ai_package/preprocessing/

flutter_icons:
  android: true
  ios: true
  image_path: "assets/icons/app_icon.png"
  adaptive_icon_background: "#00C853"
  adaptive_icon_foreground: "assets/icons/app_icon.png"
